@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
		<h1>Welcome View</h1>
		<ul>
            <li>@ViewData["Message"]</li>
		</ul>
</body>
</html>

